@media (max-width: 320px) {
  .container {
    max-width: 280px;
    margin: 0 auto;
  }
}

@media (max-width: 744px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1020px;
    margin: 0 auto;
  }
}

html {
  scroll-behavior: smooth;
}

.page {
  overflow-x: hidden;
  background-color: #fff;

  &:has(.menu:target) {
    overflow: hidden;
  }
}

header,
section {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

a,
button,
input,
textarea,
.view__now-img {
  transition: all 0.3s ease;
}

.view__now-img,
.online__wrapper-img {
  display: block;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;

  &:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
  }
}

