.header {
  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;
  padding: 24px 20px 40px;
  margin-bottom: 100px;

  &__logo {
    background-image: url(../images/logo.svg);
    width: 64px;
    height: 46px;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: 744px) {
      background-image: url(../images/logo-tablet.svg);
      width: 87px;
      height: 63px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;

    @media (min-width: 744px) {
      margin-bottom: 141px;
    }
  }

  &__icon {
    display: flex;
    gap: 24px;
    font-weight: 700;

    @media (min-width: 744px) {
      gap: 55px;
    }
  }

  &__bottom {
    text-align: center;
    margin: 0 auto;
    height: 80px;
  }

  &__title {
    font-size: 40px;
    line-height: 1;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;

    @media (min-width: 744px) {
      font-size: 64px;
      line-height: 64px;
    }

    @media (min-width: 1260px) {
      font-size: 80px;
      line-height: 80px;
      width: 500px;
      height: 160px;
    }
  }

  @media (min-width: 744px) {
    background-image: url(../images/header-bg-tablet.png);
    padding: 50px;
  }

  @media (min-width: 1260px) {
    background-image: url(../images/header-bg-pc.png);
    padding: 50px;
  }
}

.icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;

  &--phone {
    background-image: url(../images/icon/phone.svg);
  }

  &--menu {
    background-image: url(../images/icon/burger.svg);
  }
}
