.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;


  padding: 0 20px 40px;

  background-color: #d12d35;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #d12d35;

    padding-top: 24px;
    padding-bottom: 10px;

    &-logo {
      background-image: url(../images/logo.svg);
      width: 64px;
      height: 46px;
      background-repeat: no-repeat;
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        margin-bottom: 32px;
        font-family: Cinzel, serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid transparent;
        transition: border-color 0.3s ease;
      }
    }
  }

  &__location {
    &:nth-child(2) {
      margin-bottom: 29px;
    }

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      text-transform: uppercase;
    }
  }

  &__phone {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__call-to-order {
    display: inline-block;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    color: inherit;
    text-decoration: none;
  }

  @media (min-width: 744px) {
    padding: 0 50px;

    &__top {
      padding-top: 50px;
    }
  }

  @media (min-width: 1260px) {
    padding: 0 140px;

    &__top {
      padding-top: 54px;

      &-logo {
        background-image: url(../images/logo-menu-pc.svg);
        width: 87px;
        height: 63px;
      }

      &-link {
        a:hover {
          border-bottom: 1px solid rgba(255, 255, 255, 1);
        }
      }
    }
  }
}
