* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  display: inline-block;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 1);
  font-family: Cinzel, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-style: Bold;
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
}

section,
footer {
  color: rgba(22, 22, 22, 1);
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.button {
  display: block;
  margin: 0 auto 114px;
  width: 280px;
  padding: 15px;
  font-size: 16px;
  background-color: #d12d35;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

address {
  font-style: normal;
}

.button:hover {
  background-color: rgba(174, 28, 35, 1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.button:active {
  background-color: rgba(235, 52, 61, 1);
  transform: translateY(-4px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
