.online {
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    margin: 0 auto 30px;
  }

  &__wrapper {
    margin: 0 auto;

    &-kard {
      text-align: center;
    }

    &-title {
      color: #d12d35;
      font-weight: 700;
      font-size: 24px;
      margin: 0 0 4px;
    }

    &-text {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.7;
      margin: 0 0 48px;
    }

    &-img {
      display: block;
      width: 280px;
      height: 280px;
      background: no-repeat center / cover;
      margin: 0 auto 24px;
    }
  }

  &__img {
    @for $i from 1 through 3 {
      &--image-#{$i} {
        background-image: url('../images/online-img/online-#{$i}.png');
      }
    }
  }
}

@media (min-width: 740px) {
  .online {
    &__img {
      @for $i from 1 through 3 {
        &--image-#{$i} {
          background-image: url('../images/online-img/online-tablet-#{$i}.png');
        }
      }
    }

    &__title {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 48px;
    }
    &__wrapper {
      &-text {
        max-width: 392px;
        margin: 0 auto;
        margin-bottom: 48px;
      }

      &-img {
        margin-bottom: 32px;
        width: 392px;
        height: 387px;
      }
    }
  }
}

@media (min-width: 1260px) {
  .online {
    &__title {
      max-width: 498px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 120px;
      &-img {
        width: 324px;
        height: 320px;
      }
    }
  }
}
