.view {
  margin: 0 auto;
  text-align: center;

  &__container {
    margin: 0 auto;

    @media (min-width: 744px) {
      max-width: 600px;
      margin: 0 auto;
    }

    @media (min-width: 1200px) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &__now-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 2px;
  }

  &__now-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
    max-width: 280px;
    margin: 0 auto 48px;
  }

  &__now-galery {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 24px;
    gap: 8px;

    &-center {
      justify-content: center;
    }

    @media (min-width: 744px) {
      grid-gap: 20px;
    }
  }

  &__now-history {
    color: #d12d35;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
  }

  &__now-disk {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 48px;
  }

  &__now-button {
    display: block;
    margin: 0 auto 114px;
    width: 280px;
    padding: 15px;
    font-size: 16px;
    background-color: #d12d35;
    color: #fff;
    border: none;
    cursor: pointer;

    @media (min-width: 744px) {
      font-weight: 700;
      width: 392px;
      height: 56px;
    }
  }
}

.view__now-img {
  flex-shrink: 0;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--master-1,
  &--master-2,
  &--master-6,
  &--master-7 {
    width: 130px;
    height: 130px;
  }

  @for $i from 1 through 7 {
    &--master-#{$i} {
      background-image: url('../images/master-img/master-#{$i}.png');
    }
  }

  @media (min-width: 743px) {
    width: 216px;
    height: 216px;

    @for $i from 1 through 7 {
      &--master-#{$i} {
        background-image: url('../images/master-img/master-tablet-#{$i}.png');
      }
    }
  }

  @media (min-width: 744px) {
    width: 185px;
    height: 185px;

    @for $i from 1 through 7 {
      &--master-#{$i} {
        background-image: url('../images/master-img/master-pc-#{$i}.png');
      }
    }

    &--master-5 {
      display: none;
    }

    &--master-1,
    &--master-7 {
      width: 392px;
      height: 186px;
    }

    &--master-3,
    &--master-4 {
      width: 288px;
      height: 284px;
    }
  }

  @media (min-width: 1200px) {
    width: 324px;
    height: 320px;

    &--master-5 {
      display: block;
    }

    &--master-1,
    &--master-7 {
      width: 672px;
      height: 320px;
    }
  }
}
