.visit {
  color: rgba(22, 22, 22, 1);
  padding: 0 20px;
  margin-bottom: 140px;

  &__container {
    max-width: 280px;
    margin: 0 auto;

    @media (min-width: 744px) {
      max-width: 744px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    @media (min-width: 1260px) {
      max-width: 1020px;
    }
  }

  &__content {
    @media (max-width: 743px) {
      width: 288px;
    }
  }

  &__subtitle {
    color: rgba(209, 45, 53, 1);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 2px;
  }

  &__title {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 32px;
    max-width: 288px;

    @media (min-width: 744px) {
      font-size: 48px;
      line-height: 48px;
    }

    @media (min-width: 1260px) {
      min-width: 515px;
    }
  }

  &__location {
    &-title {
      font-size: 24px;
      text-align: start;

      @media (min-width: 744px) {
        text-align: start;
      }
    }
  }

  &__holidays {
    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
    }
    &-text {
      font-weight: 400;
      font-size: 16px;
      margin: 0 0 24px;
    }
  }
}

.schedule {
  max-width: 275px;

  &__item {
    display: flex;
    align-items: baseline;
  }

  &__time {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    flex-shrink: 0;
    min-width: 100px;
    margin-right: 24px;
    margin-bottom: 8px;
  }

  &__days {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    min-width: 170px;
    text-align: start;
  }

  @media (max-width: 320px) {
    &__days {
      min-width: 130px;
    }
  }
}
